@font-face {
    font-family: BOTW;
    src: url(../../fuentes/BOTW.ttf);
}

@font-face {
    font-family: HyliaSerif;
    src: url(../../fuentes/HyliaSerif.otf);
}

:root {
    --beige: rgb(253, 255, 224);
}


h1 {
    font-family: BOTW;
    color: var(--beige);
    font-size: 80px;
    text-align: center;
}

.contenedorBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#formGet {
    background-color: var(--beige);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1.5vh;
    width: 25%;
}

#resultado {
    background-color: var(--beige);
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Para que las tarjetas se envuelvan a la siguiente línea si no caben en el ancho del contenedor */
    justify-content: center; /* Para centrar las tarjetas horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas */
    font-size: larger;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1.5vh;
    padding: 20px;
}

input {
    font-family: 'Courier New', Courier, monospace;
}

.p1 {
    font-family: HyliaSerif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.p2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20 px;
    background-color: rgba(245, 245, 220, 0);
}

body {
    background-image: url(../img/background1.png);
}


a {
    color: rgb(71, 58, 52);
    text-decoration: none;
}

footer {
    text-align: center;
    font-style: oblique;
    background-image: url(../img/background2.png);
    font-weight: bold;
    padding: 5px;
    border: 30px solid transparent;
    border-width: 10px;
    border-image: url(../img/sheikah-language-h.png) 50 50 repeat;
}

/* Tarjetas */
.card {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    width: 500px;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform: scale(0.9);
}

.card:hover {
    transform: translateY(-5px);
    transform: scale(0.91);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card-content p {
    margin: 5px 0;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.btn-sumar,
.btn-restar {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.cantidad-input {
    width: calc(100% - 52px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-add-to-cart {
    background-color: #f6a85e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-family: 'Onest', sans-serif;
    font-weight: 900;
}

.btn-add-to-cart:hover {
    background-color: #e8801f;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.card-content button {
    margin-top: auto;
    align-self: center;
}